<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../static/css/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        />
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>ReqToStory</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <header>
            <div>
                <h1>ReqToStory</h1>
                <p>AI Generator of User Stories</p>
            </div>
            <div>
                <a>About</a>
                <a>Contact</a>
                <button type="button" aria-label="Settings">
                    <i class="fas fa-cog"></i>
                </button>
            </div>
        </header>
        <main>
            <section id="sectionInput">
                <div id="divModalInfo">
                    <button
                        type="button"
                        data-bs-toggle="modal"
                        data-bs-target="#moreInfo"
                        id="infoButton"
                    >
                        <i class="fa-solid fa-circle-info"></i>
                    </button>
                    <div
                        class="modal fade"
                        id="moreInfo"
                        tabindex="-1"
                        aria-labelledby="moreInfoLabel"
                        aria-hidden="true"
                    >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="moreInfoLabel">
                                        Information
                                    </h5>
                                </div>
                                <div class="modal-body">
                                    Write your requirements in the text box, or
                                    alternatively, upload your text file
                                    containing the list.
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-bs-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../static/script/index.js"></script>
    </body>
</html>
